ul {
  list-style: none;
  /* background-color: rebeccapurple; */
  display: flex;
  gap: 10px;
  flex-direction: column;
}

li {
  display: flex;
  gap: 40px;
  justify-content: space-between;

}

.buttons{
    display: flex;
    gap: 10px;
    margin-left: 100px;
}
